# webstorm project file
.idea

# Logs
logs
*.log

# all node_modules folders
node_modules

# resources created during build
/etc/build/base.coredatastore/opt/coredatastore/setup-resources
/etc/build/base.authentication/opt/authentication/setup-resources
/etc/build/base.userprofilemanagement/opt/userprofilemanagement/setup-resources
/etc/build/base.webpackagesearch/opt/webpackagesearch/setup-resources
/etc/build/base.webpackagesearch/opt/webpackagesearch/app

# all .tar* files
*.tar*

