# Logs
logs
*.log

# Runtime data
pids
*.pid

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# webstorm project file
.idea

# build folder
build

# resources created during build
etc/coredatastore/opt/coredatastore/setup-resources
/etc/uploadauthentication/opt/uploadauthentication/setup-resources
etc/webpackagesearch/opt/webpackagesearch/setup-resources
etc/webpackagesearch/opt/webpackagesearch/app

